.distribution {
  text-align: center;
  padding-top: 50px;
}

.year {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

}

.legend-entry-value {
  margin-right: 20px;
}

h1 {
  text-align: center;
}

p {
  font-size: 22px;
}