.map {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.map span {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 18px;
}

.legend {
  font-size: 18px;
  text-align: center;
}